<html>
<body>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice]%></div>
  <% end %>




<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <% @produtos.each do |produto| %>
        <tr>
            <td><%= produto.nome %></td>
            <td><%= produto.descricao %></td>
            <td><%= produto.quantidade %></td>
            <td><%= produto.preco %></td>
            <td><%= produto.id %></td>
            <td><%= button_to "Remover", produto, method: :delete, class: "btn btn-danger", data: {confirm: "Tem certeza que deseja remover?"} %>
            <td><%= link_to "Alterar", edit_produto_path(produto), class:"btn btn-default" %>
        </tr>
        <% end %>
    </tbody>
</table>
<%= button_to "Criar novo produto", new_produto_path, method: :get, class:"btn btn-primary" %>

</body>
</html>
